
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAvailabilityLabel">Create or edit a Availability</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.availability.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.availability.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_wards">Wards</label>
            <input type="text" class="form-control" name="wards" id="field_wards"
                    ng-model="vm.availability.wards"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bedCode">Bed Code</label>
            <input type="text" class="form-control" name="bedCode" id="field_bedCode"
                    ng-model="vm.availability.bedCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bedNo">Bed No</label>
            <input type="text" class="form-control" name="bedNo" id="field_bedNo"
                    ng-model="vm.availability.bedNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reserved">Reserved</label>
                <input type="checkbox" name="reserved" id="field_reserved"
                          ng-model="vm.availability.reserved"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_Charge">Charge</label>
            <input type="number" class="form-control" name="Charge" id="field_Charge"
                    ng-model="vm.availability.Charge"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="vm.availability.gender" id="field_gender">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
