<div>
    <h2>Transfer Intimations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transfer-intimation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Transfer Intimation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="refDoctor"><span>Ref Doctor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromBedCode"><span>From Bed Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromBedNo"><span>From Bed No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toBedCode"><span>To Bed Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toBedNo"><span>To Bed No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="charge"><span>Charge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="patient.id"><span>Patient</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transferIntimation in vm.transferIntimations track by transferIntimation.id">
                    <td><a ui-sref="transfer-intimation-detail({id:transferIntimation.id})">{{transferIntimation.id}}</a></td>
                    <td>{{transferIntimation.refDoctor}}</td>
                    <td>{{transferIntimation.fromBedCode}}</td>
                    <td>{{transferIntimation.fromBedNo}}</td>
                    <td>{{transferIntimation.toBedCode}}</td>
                    <td>{{transferIntimation.toBedNo}}</td>
                    <td>{{transferIntimation.charge}}</td>
                        <td>{{transferIntimation.date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="patient-detail({id:transferIntimation.patient.id})">{{transferIntimation.patient.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transfer-intimation-detail({id:transferIntimation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transfer-intimation.edit({id:transferIntimation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transfer-intimation.delete({id:transferIntimation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
