
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedicineLabel">Create or edit a Medicine</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medicine.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medicine.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.medicine.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_medicineType">Medicine Type</label>
            <input type="text" class="form-control" name="medicineType" id="field_medicineType"
                    ng-model="vm.medicine.medicineType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_unitOfMeasurement">Unit Of Measurement</label>
            <input type="text" class="form-control" name="unitOfMeasurement" id="field_unitOfMeasurement"
                    ng-model="vm.medicine.unitOfMeasurement"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_generic">Generic</label>
            <input type="text" class="form-control" name="generic" id="field_generic"
                    ng-model="vm.medicine.generic"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
